body h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
}

.register-box {
    width: 450px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

.username-entry, .password-entry, .passwordconfirm-entry {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.username-entry label, .password-entry label, .passwordconfirm-entry label {
    display: flex;
    align-items: center;
    width: 70px;
}

.username-entry input, .password-entry input, .passwordconfirm-entry input {
    padding: 4px;
    margin-left: 10px;
    flex-grow: 1;
}

.error-message {
    color: red;
    font-family: Arial, sans-serif;
    text-align: center;
}

.register-button {
    font-family: Arial, sans-serif;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    background-color: #218fbb;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

.backtologin-box {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.backtologin-box .backtologin-button {
    font-family: Arial, sans-serif;
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
}